{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <select class="form-control form-control-lg" id="member_names" , name="member_names">
                <option value="" disabled selected>Choose your name...</option>
                {% for name in form.member_names %}
                {{ name }}
                {% endfor %}
            </select>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn success") }}
        </div>
    </form>
</div>
{% endblock content %}