{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-end">
    <a class="btn btn-link" href="{{ url_for('views.home') }}">&laquo Back</a>
</div>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <label for="guest_names">Return Guests</label>
        <select class="form-control form-control-lg" id="guest_names" , name="guest_names">
            <option value="" disabled selected>Choose your name...</option>
            {% for name in form.guest_names %}
            {{ name }}
            {% endfor %}
        </select>
    </fieldset>

    <div class="form-group">
        {{ form.submit(class="btn btn-dark") }}
    </div>
</form>
{% endblock content %}