body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

.p {
  display: inline;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.btn {
  border: none;
  background-color: #292b2c;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.success {
  color: white;
}

.success:hover {
  background-color: #414242;
  color: white;
}